{
    auto_https off
}

:80 {
    root * /app/public
    php_fastcgi unix//run/php/php.sock
    file_server

    mercure {
        transport_url http://mercure:3000/.well-known/mercure
        publisher_jwt "SUPER_SECRET_PUBLISHER"
        subscriber_jwt "SUPER_SECRET_SUBSCRIBER"
        anonymous
    }
}

srv802003.hstgr.cloud {
    root * /app/public
    php_fastcgi unix//run/php/php.sock
    file_server

    # Proxy Mercure pour le frontend
    route /.well-known/mercure* {
        reverse_proxy mercure:3000 {
            flush_interval -1  # obligatoire pour SSE
        }
    }
}
