version: "3.9"

services:
  app:
    build: .
    image: frankenphp_app
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    environment:
      APP_ENV: prod
      APP_SECRET: ${APP_SECRET:-change_me_in_production_with_secure_secret}
      DATABASE_URL: postgresql://${POSTGRES_USER:-app}:${POSTGRES_PASSWORD:-S3cur3P4ssw0rd2024}@database:5432/${POSTGRES_DB:-app}?serverVersion=16&charset=utf8
      SERVER_NAME: ${SERVER_NAME:-:80}

    volumes:
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - mercure
      - database

  database:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-S3cur3P4ssw0rd2024}
      POSTGRES_DB: ${POSTGRES_DB:-app}
    volumes:
      - database_data:/var/lib/postgresql/data

  mercure:
    image: dunglas/mercure
    container_name: mercure
    ports:
        - "3000:3000"
    environment:
        SERVER_NAME: ':3000'
        MERCURE_PUBLISHER_JWT_KEY: 'SUPER_SECRET_PUBLISHER'
        MERCURE_SUBSCRIBER_JWT_KEY: 'SUPER_SECRET_SUBSCRIBER'
        MERCURE_EXTRA_DIRECTIVES: |
            anonymous
            cors_origins *

volumes:
  database_data:
  caddy_data:
  caddy_config:
